@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Bir hata oluştu.</h1>
@if (Model.ShowRequestId)
{
    <p><strong>İstek No:</strong> <code>@Model.RequestId</code></p>
}
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <p>@Model.Message</p>
}
